<nav>
    <div class='nav-wrapper purple accent-9'>
      <a href="/" class='brand-logo'> Hobbies</a>
      <!-- a lintk to our home page -->
      <ul class="right hide-on-med-and-down">   
        <!-- so to avoid text overlap it wont show on small screeen and add like s.th that slides oout or somethin  -->
        <li>
          <a href ="/hobbies">Hobbies</a>
        </li>
  
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  