<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <h1 class='center'>My Hobbies</h1>
    <hr />
    <div class='row'>
      <div class='col s12 m4'>
        <h3>Add Hobby</h3>
        <form action='/hobbies' method='post'>
          <input type='text' name='title' placeholder='Title' />
          <button class='btn btn-waves' type='submit'>Add</button>
        </form>
      </div>
      <table class='table col m8 s12'>
        <thead>
          <th>Title</th>
          <th>x</th>
        </thead>
        <tbody>
          <% hobbies.forEach( function(hobby) { %>
            <tr>
              <td><%= hobby.title %></td>
          <% }); %>
            <!-- </tr>   This was missing I think from here-->   
        </tbody>
      </table>
    </div>
  </body>
</html>
 