<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <p class='purple-text text-darken-2' >Welcome to <%= title %></p>
    <button class='btn blue'>Click Me!</button>
  </body>
</html>
